# Supabase Configuration
# https://supabase.com/docs/guides/local-development

[api]
enabled = true
port = 54321
schemas = ["public"]
extra_search_path = ["public"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323

[auth]
enabled = true
site_url = "http://localhost:3000"

[functions.devices]
verify_jwt = false

[functions.latest]
verify_jwt = false

[functions.timeseries]
verify_jwt = false
